/**
 * General
 */

@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,500&amp;display=swap');

body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, p {
    font-family: Ubuntu, sans-serif;
}

.panel-primary>.panel-heading, .btn-success, .btn-primary, .btn-primary:hover, .btn-success.disabled, .btn-success[disabled], fieldset[disabled] .btn-success, .btn-success.disabled:hover, .btn-success[disabled]:hover, fieldset[disabled] .btn-success:hover, .btn-success.disabled:focus, .btn-success[disabled]:focus, fieldset[disabled] .btn-success:focus, .btn-success.disabled:active, .btn-success[disabled]:active, fieldset[disabled] .btn-success:active, .btn-success.disabled.active, .btn-success[disabled].active, fieldset[disabled] .btn-success.active, .btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open .dropdown-toggle.btn-success, .btn-success.disabled, .btn-success[disabled], fieldset[disabled] .btn-success, .btn-success.disabled:hover, .btn-success[disabled]:hover, fieldset[disabled] .btn-success:hover, .btn-success.disabled:focus, .btn-success[disabled]:focus, fieldset[disabled] .btn-success:focus, .btn-success.disabled:active, .btn-success[disabled]:active, fieldset[disabled] .btn-success:active, .btn-success.disabled.active, .btn-success[disabled].active, fieldset[disabled] .btn-success.active, .btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open .dropdown-toggle.btn-success {
    background-color: #582c83;
    border-color: #582c83;
}

.section_head {
    letter-spacing: initial;
}

#footer {
    font-size: 12px;
}

/**
 * Organiser page
 */
body.organiser {
    padding-top: 75px;
}

body.organiser h1 {
    color: #582c83;
}

body.organiser #events {
    min-height: 506px;
}

body.organiser #events > h1 {
    font-size: 38px;
}

body.organiser #header {
    height: 75px;
    background-color: #582c83;
    padding-top: 24px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9999;
}

body.organiser #header .home-menu {
    float: right;
    color: #fff;
    font-size: 16px;
    line-height: 28px;
}

@media (min-width: 768px) {
    body.organiser .event-list>li>.info {
        padding-top: 20px !important;
    }
}

body.organiser .event-list>li>.info {
    height: 100%;
    background: #fff;
}

body.organiser .event-listing-heading {
    margin-top: 25px;
}

body.organiser .event-list {
    margin-bottom: 25px;
}

body.organiser .event_list .info .title a, body.organiser .event_list .info .title a:focus, body.organiser .event_list .info .title a:hover, body.organiser .event_list .info .title a:active, body.organiser .event_list .info .title a:visited {
    color: #582c83;
}

body.organiser .event-list>li {
    background-color: #fff;
    margin: 0 0 20px;
    border: 1px solid #582c83;
}

body.organiser .event-list > li > time {
    color: #582c83;
    background-color: #ffffff;
    height: 100%;
    padding-left: 10px;
}

body.organiser .event-list>li>time {
    display: inline-block;
    width: 15%;
    padding: 5px;
    text-align: center !important;
    text-transform: uppercase;
}

body.organiser .event-list>li>.info h2 {
    font-size: 20px;
    padding: 0 5px;
}

body.organiser .event-list>li>.info>.desc {
    font-size: 16px;
    margin-bottom: 30px;
    padding: 0 5px;
}

body.organiser .event-list>li>.info>ul>li {
    padding: 6px 0;
    cursor: pointer;
}

body.organiser .event-list>li>.info>ul>li,
body.organiser .event-list>li>.info>ul>li:hover,
body.organiser .event-list>li>.info>ul>li>a {
    background-color: #582c83;
    color: #fff;
}

body.organiser footer {
    height: 100%;
    background-color: #582c83 !important;
}

body.organiser footer a, footer a:hover {
    color: #fff;
    text-decoration: underline;
    font-weight: 100;
    line-height: 28px;
}

body.organiser footer .navigation {
    display: block;
    text-align: left;
    line-height: 28px;
    font-size: 16px;
}

body.organiser footer .navigation > a {
    display: block;
    font-size: 16px;
}

body.organiser footer .navigation h3 {
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    margin-bottom: 18px;
    padding-top: 40px;
}

/**
 * Event page
 */
#event_page_wrap {
    background: initial !important;
}

#event_page_wrap .section_head {
    border: none !important;
    font-size: 35px;
    text-align: center;
    margin: 0 0 30px 0;
    color: #582c83;
    font-weight: 700;
}

#event_page_wrap #organiser {
    text-align: center;
    background: #582c83;
}

#event_page_wrap .event_organiser_details > h1,
#event_page_wrap .event_organiser_details > h3,
#event_page_wrap .event_organiser_details > p[property="description"] {
    display: none;
}

#event_page_wrap .event_organiser_details .logo {
    margin: 25px 0;
}

#event_page_wrap a.go-back {
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    text-decoration: underline;
}

#event_page_wrap a.go-back::before {
    content: "« ";
}